* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-areas: "h h h"
                        "a a as"
                        "f f f";
    gap: 1rem;
    height: 100%
}

body {
    height: 100vh;
}

section {
    padding: 1rem;
    background-color: #bbb;
    margin: 1rem 0;
    height: 25%
}

main > * {
    background-color: gainsboro;
}

header { grid-area: h }
article { grid-area: a; padding: 1rem; }
aside { grid-area: as }
footer { grid-area: f }